<table mat-table [dataSource]="invoiceDetails" class="mat-elevation-z8 vehicle-table">
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="title"> Acciones </th>
        <td mat-cell *matCellDef="let invoiceDetail"> 
            <a [routerLink]="['edit', invoiceDetail.id_invoice_det]" mat-raised-button style="background-color: gray; color: white;">Editar</a>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="id_invoice_det">
        <th mat-header-cell *matHeaderCellDef class="title"> ID </th>
        <td mat-cell *matCellDef="let invoiceDetail"> {{invoiceDetail.id_invoice_det}} </td>
    </ng-container>
    <ng-container matColumnDef="id_invoice">
        <th mat-header-cell *matHeaderCellDef class="title"> ID Factura </th>
        <td mat-cell *matCellDef="let invoiceDetail" class="color"> {{invoiceDetail.id_invoice}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="title"> Precio </th>
        <td mat-cell *matCellDef="let invoiceDetail"> {{invoiceDetail.price | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="id_vehicle_detail">
        <th mat-header-cell *matHeaderCellDef class="title"> ID Detalle Vehiculo </th>
        <td mat-cell *matCellDef="let invoiceDetail" class="description"> {{invoiceDetail.id_vehicle_detail}} </td>
    </ng-container>
    <ng-container matColumnDef="car_plate" >
        <th mat-header-cell *matHeaderCellDef class="title"> Placa </th>
        <td mat-cell *matCellDef="let invoiceDetail" class="url"> {{invoiceDetail.car_plate}} </td>
    </ng-container>
    <ng-container matColumnDef="engine_num">
        <th mat-header-cell *matHeaderCellDef class="title"> Número Motor </th>
        <td mat-cell *matCellDef="let invoiceDetail"> {{invoiceDetail.engine_num}} </td>
    </ng-container>
    <ng-container matColumnDef="chassis_num">
        <th mat-header-cell *matHeaderCellDef class="title"> Número Chasis </th>
        <td mat-cell *matCellDef="let invoiceDetail"> {{invoiceDetail.chassis_num}} </td>
    </ng-container>
    <ng-container matColumnDef="vehicle_model">
        <th mat-header-cell *matHeaderCellDef class="title"> Modelo Vehiculo </th>
        <td mat-cell *matCellDef="let invoiceDetail"> {{invoiceDetail.vehicle_model}} </td>
    </ng-container>
    
   
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

