<app-header></app-header>

<main>
    <div class="vehicle-detail">
        <img [src]="vehicle.url" alt="">
        <div class="description">{{vehicle.description}}</div>
        <div class="brand">Marca: {{vehicle.brand}}</div>
        <div class="color">Color: {{vehicle.color}}</div>
        <div class="vehicle_type">Tipo de Vehiculo: {{vehicle.body_type}}</div>

        <button class="button">
            <a href="">Comprar</a>
        </button>
        
    </div>
</main>



<app-footer></app-footer>