@import "../shared/styles/variables";


.vehicle-detail{
    margin: 0 auto;
    margin-block-start: 20px;
    margin-block-end: 20px;
    padding: 20px 0;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: $light-primary-color;
    -webkit-box-shadow: 2px 3px 32px 5px #686363; 
    box-shadow: 2px 3px 32px 5px #686363;

    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 90%;
    }

    & img{
        width: 85%;
        height: 85%;
        border-radius: 5px;
    }

    & .description{
        margin-block-start: 30px;
        width: 90%;
        font-size: 16px;
    }

    & .brand, .color, .vehicle_type{
        margin-block-start: 30px;
        font-size: 16px;
    }

    & .vehicle_type{
        margin-block-end: 30px;
    }

    & .button{
        
        width: 200px;
        height: 50px;
        margin-block-start: 20px;
        background-color: #45AA43;
        color: white;
        border: 1px solid darkgreen;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 15px 3px #000000; 
        box-shadow: 0px 0px 15px 3px #7e7d7d;
        & a{
            width: 350px;
            height: 80px;
            text-decoration: none;
            color: white;
        }
        
    }

}


@media screen and (min-width: 1440px){
    
    .vehicle-detail{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 98%;
        height: 95%;
        border: 1px solid darkgray;
        margin: 20px auto;
        padding: 0;
        border-radius: 10px;
        background-color: $light-primary-color;
        -webkit-box-shadow: 2px 3px 32px 5px #686363; 
        box-shadow: 2px 3px 32px 5px #686363;
        
        
        & img{
            width: 100%;
            height: 100%;
            margin: 0 auto;
            border-radius: 5px;
            border:  1px solid darkgray;
        }

        &__info{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            
            
            
        }

        & .description{
            border-block-start: 1px solid black;
            padding-block-start: 25px;
            width: 700px;
            font-size: 18px;
        }

        & .brand, .color, .vehicle_type{
            font-size: 18px;
        }

        & .button{
            
            width: 350px;
            height: 80px;
            cursor: pointer;
            & a{
                width: 350px;
                height: 80px;
                font-size: 18px;
                
                
            }

           
            
        }

    }
    
}