<app-header></app-header>

<main class="main">
    <section class="main__marcas">
        <a routerLink="/mclaren">
            <img src="../../assets/images/mclaren-logo.png" alt="McLaren Logo">
        </a>
        <a routerLink="/ferrari">
            <img src="../../assets/images/ferrari.logo.png" alt="Ferrari Logo">
        </a>
        <a routerLink="/lamborghini">
            <img src="../../assets/images/lamborghini-logo.png" alt="Lamborghini Logo">
        </a>
        <a routerLink="/bugatti">
            <img src="../../assets/images/bugatti-logo.png" alt="Bugatti Logo">
        </a>
        <a routerLink="/aston-martin">
            <img src="../../assets/images/aston-martin-logo.png" alt="Aston Martin Logo">
        </a>
        <a routerLink="/mercedez-benz">
            <img src="../../assets/images/mercedez-benz-logo.png" alt="Mercedez Benz Logo" id="mercedez">
        </a>
    
        
    </section>
</main>

<app-footer></app-footer>