<header class="header">
    <a routerLink="/home">
        <img src="../../../../assets/images/karma-white.png" alt="Karma Logo" class="header__logo">
    </a>
    
    <img src="./../../../../assets/images/menu.svg" alt="hamburguer icon" class="header__hamburguer">
    <nav class="header__nav">
        <ul class="header__nav-ul">
            <li class="header__nav-ul-li">
                <a href="">
                    <img src="../../../../assets/images/cart.svg" alt="cart icon">
                </a>
                
            </li>
            <li class="header__nav-ul-li">
                <a routerLink='/mclaren' routerLinkActive="active" class="linear-animation">McLaren</a>
            </li>
            <li class="header__nav-ul-li">
                <a routerLink="/ferrari" class="linear-animation" routerLinkActive="active">Ferrari</a>
            </li>
            <li class="header__nav-ul-li">
                <a routerLink="/lamborghini" class="linear-animation" routerLinkActive="active">Lamborghini</a>
            </li>
            <li class="header__nav-ul-li">
                <a routerLink="/bugatti" class="linear-animation" routerLinkActive="active">Bugatti</a>
            </li>
            <li class="header__nav-ul-li">
                <a routerLink="/aston-martin" class="linear-animation" routerLinkActive="active">Aston Martin</a>
            </li>
            <li class="header__nav-ul-li">
                <a routerLink="/mercedez-benz" class="linear-animation" routerLinkActive="active">Mercedez</a>
            </li>
        </ul>
    </nav>
</header>
