<header class="header">
    <img src="" alt="" class="header__logo">
    <img src="./../../../../assets/images/menu.svg" alt="" class="header__hamburguer">
    <nav class="header__nav">
        <ul class="header__nav-ul">
            <li class="header__nav-ul-li">
                <a href="">
                    <img src="../../../../assets/images/cart.svg" alt="cart icon">
                </a>
                
            </li>
            <li class="header__nav-ul-li">
                <a href="">Marcas</a>
            </li>
        </ul>
    </nav>
</header>
