<app-header></app-header>

<mat-stepper linear #stepper linear>
    <mat-step label="Tu pedido">

        <div class="vehicle-detail">
            <img [src]="vehicle.url" alt="">
            <div class="info">
                <div class="description">{{vehicle.description}}</div>
                <div class="brand">Nombre: {{vehicle.name}}</div>
                <div class="brand">Marca: {{vehicle.brand}}</div>
                <div class="color">Color: {{vehicle.color}}</div>
                <div class="vehicle_type">Tipo de Vehiculo: {{vehicle.body_type}}</div>
                <div>
          
                    <button mat-button matStepperNext class="button">Siguiente</button>
                </div>
            </div>
            
    
            
            
        </div>

      
    </mat-step>
    <mat-step label="Ingresa tus datos">
        <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmitUser()" id="myform">
            <mat-card class="shipping-card">
              <mat-card-header>
                <mat-card-title>Ingresa tus datos!</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Primer Nombre" formControlName="user_name1">
                      <mat-error *ngIf="addressForm.controls['user_name1'].hasError('required')">
                        El Primer nombre es <strong>obligatorio!</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Segundo Nombre" formControlName="user_name2">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Primer Apellido" formControlName="user_lastname1">
                      <mat-error *ngIf="addressForm.controls['user_lastname1'].hasError('required')">
                        El primer apellido es <strong>obligatorio!</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <textarea matInput placeholder="Segundo Apellido" formControlName="user_lastname2"></textarea>
                      <mat-error *ngIf="addressForm.controls['user_lastname2'].hasError('required')">
                        El segundo apellido es  <strong>obligatorio!</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="full-width">
                      <textarea matInput placeholder="Celular" formControlName="user_phone"></textarea>
                      <mat-error *ngIf="addressForm.controls['user_phone'].hasError('required')">
                        El número de celular es  <strong>obligatorio!</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="full-width">
                        <input matInput placeholder="Correo electrónico" formControlName="user_email">
                        <mat-error *ngIf="addressForm.controls['user_email'].hasError('required')">
                          El correo electrónico es <strong>obligatorio!</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                
                
              </mat-card-content>
              <mat-card-actions >
                
                  <button mat-button matStepperNext type="submit" class="button">Siguiente</button>
                  <button mat-button matStepperPrevious class="button purple">Atras</button>
                <input type="reset" value="Limpiar Campos">
              </mat-card-actions>
            </mat-card>
          </form>
       
    </mat-step>
    <mat-step label="Crea tu orden">
        <form [formGroup]="addressForm2" novalidate (ngSubmit)="onSubmitInvoice()" id="myform">
            <mat-card class="shipping-card">
              <mat-card-header>
                <mat-card-title>Nueva Orden</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Metodo de Pago" formControlName="payment_method">
                      <mat-error *ngIf="addressForm2.controls['payment_method'].hasError('required')">
                        El metodo de pago es <strong>obligatorio!</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Sede a recoger" formControlName="states">
                        <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                          {{ state.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="addressForm2.controls['states'].hasError('required')">
                        La Sede es <strong>obligatoria!</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
               
              </mat-card-content>
              <mat-card-actions>
                <mat-card-actions class="position">
                
                    <button mat-button matStepperNext type="submit" class="button">Siguiente</button>
                    <button mat-button matStepperPrevious class="button purple">Atras</button>
                  <input type="reset" value="Limpiar Campos">
                </mat-card-actions>
              </mat-card-actions>
            </mat-card>
          </form>
          
   
    </mat-step>
    <mat-step label="Resumen Compra">
        <form [formGroup]="addressForm3" novalidate (ngSubmit)="onSubmitFinal()" id="myform">
            <mat-card class="shipping-card">
              <mat-card-header>
                <mat-card-title>Resumen Compra</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                
                <div class="card">
                    <div class="personal">
                      <h2>Datos Personales</h2>
                      <div class="description"> <strong>Primer Nombre:</strong>  {{newUser.user_name1}}</div>
                      <div class="description"> <strong>Segundo Nombre:</strong>  {{newUser.user_name2}}</div>
                      <div class="description"> <strong>Primer Apellido:</strong>  {{newUser.user_lastname1}}</div>
                      <div class="brand"> <strong>Segundo Apellido:</strong>  {{newUser.user_lastname2}}</div>
                      <div class="brand"> <strong>Correo electrónico:</strong>  {{newUser.user_email}}</div>
                      <div class="brand"> <strong>Celular:</strong>  {{newUser.user_phone}}</div>
                    </div>

                    <div class="info-invoice">
                      <h2>Detalle Pedido</h2>
                      <div class="brand"> <strong>Método de pago:</strong>  {{newInvoice.payment_method}}</div>
                      <div class="brand"> <strong>IVA:</strong>  {{newInvoice.VAT | percent}}</div>
                      <div class="brand"> <strong>Fecha:</strong>  {{newInvoice.date}}</div>
                      <div class="brand"> <strong>Sede a recoger:</strong>  {{campus.name_campus}}</div>
                      <div class="brand"> <strong>Dirección:</strong>  {{campus.address}}</div>
                      <div class="brand"> <strong>Nombre:</strong>  {{vehicle.name}}</div>
                      <div class="brand"> <strong>Marca:</strong>  {{vehicle.brand}}</div>
                      <div class="brand"> <strong>Color:</strong>  {{vehicle.color}}</div>
                      <div class="brand"> <strong>Tipo de Vehiculo:</strong>  {{vehicle.body_type}}</div>
                      <div class="brand"> <strong>Placa:</strong>  {{vehicleDetail.car_plate}}</div>
                      <div class="brand"> <strong>Número de motor:</strong>  {{vehicleDetail.engine_num}}</div>
                      <div class="brand"> <strong>Número de chasis:</strong>  {{vehicleDetail.chassis_num}}</div>
                      <div class="brand"> <strong>Cantidad:</strong>  {{newInvoiceDetail.amount}}</div>
                      <div class="brand"> <strong>Precio:</strong>  {{newInvoiceDetail.price | currency}}</div>
                    </div>
                    
                    
                    
                </div>
               
                
              </mat-card-content>
              
            </mat-card>
          </form>
        <div class="final">
          <button mat-button matStepperNext class="button" (click)="onSubmitFinal()">Finalizar</button>
          <button mat-button matStepperPrevious class="button purple">Atras</button>
        </div>
    </mat-step>
    
  </mat-stepper>


<app-footer></app-footer>
