@import "../../../shared/styles/variables";

mat-stepper{
    background-color: $light-primary-color;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

.vehicle-detail{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px,1fr));
    margin-block-start: 15px;

    & img{
        width: 90%;
        height: 85%;
        border-radius: 15px;
    }

    & .info{
        font-size: 18px;
        
    }
    

    & .description{
        margin-block-start: 10px;
        margin-block-end: 50px;
    } 
    
    & .brand, .color, .vehicle_type{
        margin-block-end: 30px;
    }

    
}
.button{
  background-color: green;
  border: 1px solid darkgreen;
  border-radius: 10px;
  color: white;
}

.purple{
  background-color: purple;
  border-color: black;
}

.position{
  margin-inline-start: 15px;
  margin-block-start: 15px;
}

.final button{
  margin-inline-start: 15px;
}

.full-width {
    width: 100%;
  }
  
  .shipping-card {
    min-width: 120px;
    margin: 20px auto;
  }
  
  .mat-radio-button {
    display: block;
    margin: 5px 0;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .col:last-child {
    margin-right: 0;
  }
  
  mat-card-actions input{
    margin-inline-start: 20px;
    background-color: darkred; 
    color: white;
    height: 39px;
    width: 150px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  mat-card{
    background-color: whitesmoke;
  }

  .personal{
    display: inline-block;
    width: 50%;
    font-size: 16px;
    height: 90%;
    float: left;
  }

  .personal div{
    margin-block-end: 10px;
  }

  .info-invoice{
    display: inline-block;
    width: 50%;
    font-size: 16px;
  }

  .info-invoice div{
    margin-block-end: 5px;
  }
  