.vehicle-table{
    width: 1350px;
}

.description{
    width: 200px;
    
}



.url{
    margin: 200px;
}

.title{
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding-inline-end: 10px;
}



