<app-mclaren-header></app-mclaren-header>

<main class="main">
    <section class="main__title">
        <img src="../../assets/images/mclaren-logo.png" alt="McLaren Logo" />
        <h2>ALTAS PRESTACIONES</h2>
    </section>

    <section class="vehicle-list" *ngFor = "let vehicle of vehicles">
        <img [src]="vehicle.url" alt="">
        <div>{{vehicle.description}}</div>   
        <div>{{vehicle.color}}</div>
        <div>{{vehicle.brand}}</div>
        
    </section>
</main>

<app-mclaren-footer></app-mclaren-footer>
