@import "../shared/styles/variables";



.main-bugatti{
    height: 1300px;
    width: 100vw;
    background-color: $light-primary-color;

    &__logo{
        width: 100%;
        height: 180px;
        text-align: center;

        & img{
            width: 200px;
            height: 113px;
            margin-block-start: 20px;
        }
    }

    
  &__vehicle-types{
    width: 100vw;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    &--card{
      background-color: black;
      width: 250px;
      height: 150px;
      margin-block-end: 10px;
      text-align: center;
      
      border-radius: 20px;
      box-shadow: 1px 3px 15px 2px #000000;
      text-decoration: none;
      font-size: 20px;
      color: white;

      & p{
        width: 100%;
        height: 100%;
        padding-block-start: 55px;
      }
    }
  }
}

.roadster{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Bugatti_EB_118_1.jpg/1024px-Bugatti_EB_118_1.jpg");
  
}

.muscle-car{
 background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/47/2007-06-15_18_Bugatti_EB_110_%28bearb_-_kl%29.jpg"); 
}

.altas-prestaciones{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/BUGATTI_VEYRON_SUPERSPORT_16.4_AT_THE_BUGATTI_DEALERSHIP_IN_BERLIN_GERMANY_JUNE_2013_%289057992400%29.jpg/800px-BUGATTI_VEYRON_SUPERSPORT_16.4_AT_THE_BUGATTI_DEALERSHIP_IN_BERLIN_GERMANY_JUNE_2013_%289057992400%29.jpg");
}

.superdeportivo{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Bugatti_La_Voiture_Noire%2C_GIMS_2019%2C_Le_Grand-Saconnex_%28GIMS0951%29.jpg/1024px-Bugatti_La_Voiture_Noire%2C_GIMS_2019%2C_Le_Grand-Saconnex_%28GIMS0951%29.jpg");
}

.gran-turismo{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Bugatti_Vision_at_IAA_2015_in_Frankfurt.JPG/1024px-Bugatti_Vision_at_IAA_2015_in_Frankfurt.JPG");
}

.roadster, .muscle-car, .altas-prestaciones, .superdeportivo, .gran-turismo{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


@media screen and (min-width: 900px){
    .main-bugatti{
      
      &__vehicle-types{
        
  
        &--card{
          font-size: 30px;
           & p{
              opacity: 0%;
  
              &:hover{
                
                animation-name: opacity-text;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                
                
              }
            
           }
  
           &:hover{
            animation-name: opacity, end;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            
           
           }
        }
  
        
      }
  
    }
  
    @keyframes opacity{
      from {
        opacity: 100%;
      }
  
      to {
        opacity: 60%;
        
      }
    }
    @keyframes opacity-text{
      from {
        opacity: 0%;
      }
  
      to {
        opacity: 100%;
        
        
      }
    }
  
    
  }
  @media screen and (min-width: 1280px){
    .main-bugatti{
      height: 700px;
      &__vehicle-types{
        height: 300px;
        flex-direction: row;
        
        
      }
    }
  
  }

