
<app-bugatti-header></app-bugatti-header>

<main class="main-bugatti">
    <section class="main-bugatti__logo">
        <img src="../../assets/images/bugatti-logo.png" alt="McLaren Logo">
    </section>

    <section class="main-bugatti__vehicle-types">
        <a href="" class="main-bugatti__vehicle-types--card roadster"> <p>Roadster</p> </a>
        <a href="" class="main-bugatti__vehicle-types--card muscle-car"> <p>Muscle car</p> </a>
        <a href="" class="main-bugatti__vehicle-types--card altas-prestaciones"> <p>Altas <br> Prestaciones</p> </a>
        <a href="" class="main-bugatti__vehicle-types--card superdeportivo"> <p>Superdeportivo</p> </a>
        <a href="" class="main-bugatti__vehicle-types--card gran-turismo"> <p>Gran turismo</p> </a>
    </section>
</main>


<app-bugatti-footer></app-bugatti-footer>
