@import "../shared/styles/variables";

.fixed-header{
    width: 100vw;
    height: 63px;
    background-color:$bugatti-color;
}

.header{
    display: flex;
    width: 100vw;
    height: 63px;
    position: fixed;
    top: 0;
    z-index: 3;
    background: rgba($bugatti-color,.5);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__logo{
        width: 60px;
        height: 60px;
        margin-inline-start: 40px;
    }

    &__nav-mobile {
        width: 200px;
        &--ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-inline-end: 40px;
    
          &-li{
              list-style: none;
              
              & img{
                width: 30px;
                height: 30px;
              }
    
              & a{
                  text-decoration: none;
                  font-size: 18px;
                  color: $text-icons;
              }
          }
        }
      }

    &__nav{
        display: none;
    }
}

@media screen and (min-width: 859px) {
    .header{
        &__nav-mobile{
            display: none;
        }

        &__nav{
            display: block;
            width: 800px;
            margin-inline-end: 40px;
           
            &-ul{
                display: flex;
                align-items: center;
                justify-content: space-around;
                
                

                &-li{
                    list-style: none;
                    
                    & img{
                        width: 30px;
                        height: 30px;
                    }

                    & a{
                        
                        text-decoration: none;
                        color: $text-icons;
                        font-size: 18px; 
                    }

                    & a.active{
                        background-image: none;
                        background-image: linear-gradient($light-primary-color, $light-primary-color);
                        background-position: 0% 100%;
                        background-repeat: no-repeat;
                        background-size: 100% 2px;
                    }
                }
            }
        }
    }

    .linear-animation{
        text-decoration: none;
            color: $light-primary-color;
            background-image: linear-gradient($light-primary-color, $light-primary-color);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size .3s;

            &:hover, a:focus{
                background-size: 100% 2px;
            }
    }
}

.main-bugatti{
    height: 1300px;
    width: 100vw;
    background-color: $light-primary-color;

    &__logo{
        width: 100%;
        height: 180px;
        text-align: center;

        & img{
            width: 200px;
            height: 113px;
            margin-block-start: 20px;
        }
    }

    
  &__vehicle-types{
    width: 100vw;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    &--card{
      background-color: black;
      width: 250px;
      height: 150px;
      margin-block-end: 10px;
      text-align: center;
      
      border-radius: 20px;
      box-shadow: 1px 3px 15px 2px #000000;
      text-decoration: none;
      font-size: 20px;
      color: white;

      & p{
        width: 100%;
        height: 100%;
        padding-block-start: 55px;
      }
    }
  }
}


@media screen and (min-width: 900px){
    .main-bugatti{
      
      &__vehicle-types{
        
  
        &--card{
          
           & p{
              opacity: 0%;
  
              &:hover{
                
                animation-name: opacity-text;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                
                
              }
            
           }
  
           &:hover{
            animation-name: opacity, end;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            
           
           }
        }
  
        
      }
  
    }
  
    @keyframes opacity{
      from {
        opacity: 100%;
      }
  
      to {
        opacity: 60%;
        
      }
    }
    @keyframes opacity-text{
      from {
        opacity: 0%;
      }
  
      to {
        opacity: 100%;
        
        
      }
    }
  
    
  }
  @media screen and (min-width: 1280px){
    .main-bugatti{
      height: 700px;
      &__vehicle-types{
        height: 300px;
        flex-direction: row;
        
        
      }
    }
  
  }


.footer{
    height: 290px;
    width: 100vw;
    background-color: $ferrari-color;

    &__butifarra{
        width: 100%;
        height: 120px;
        text-align: center;

        &-logo{
            width: 200px;
            height: 100px;
        }
    }

    &__contact{
        width: 100vw;
        height: 20px;
        display: flex;
        justify-content: space-around;
        color: $text-icons;
       
    }

    &__siguenos{
        width: 100vw;
        text-align: center;
        margin-block-start: 17px;
        color: $text-icons;
        font-size: 16px;
    }

    &__socialmedia{
        width: 100vw;
        height: 50px;
        text-align: center;

        
        &-icons{
            width: 30px;
            height: 30px;
            margin-inline-end: 10px;
        }
        
    }

    &__credits{
        text-align: center;
        color: $text-icons;
    }
}

@media screen and (min-width: 967px){
    .footer{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 97px 97px 97px;
        

        &__butifarra{
            grid-column: 1;
            grid-row: 1 / 4;
            height: 100%;
            width: 100%;
            

            &-logo{
                width: 350px;
                height: 180px;
                margin-block-start: 50px;
            }
        }

        &__contact{
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            width: 100%;
            height: 100%;
            justify-content: space-around;
            font-size: 20px;
            align-items: center;
            
        }

        &__siguenos{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            width: 50%;
           
            font-size: 20px;
        }

        & div{
            
            display: flex;
            justify-content: space-evenly;
            margin-inline-end: 100px;
        }

        &__socialmedia{
            width: 50%;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            display: flex;
            justify-content: flex-end;
            
            
            
            
            &-icons{
                width: 46px;
                height: 46px;
                padding-inline-end: 20px;
                
            }
        }

        &__credits{
            font-size: 20px;
            line-height: 28px;
        }
    }   
}