<app-mclaren-header></app-mclaren-header>

<main class="main-mclaren">
  <section class="main-mclaren__logo">
    <img src="../../assets/images/mclaren-logo.png" alt="McLaren Logo" />
  </section>

  <section class="main-mclaren__vehicle-types">
      <a href="" class="main-mclaren__vehicle-types--card roadster"> <p>Roadster</p> </a>
      <a href="" class="main-mclaren__vehicle-types--card muscle-car"> <p>Muscle car</p> </a>
      <a href="" class="main-mclaren__vehicle-types--card altas-prestaciones"> <p>Altas <br> Prestaciones</p> </a>
      <a href="" class="main-mclaren__vehicle-types--card superdeportivo"> <p>Superdeportivo</p> </a>
      <a href="" class="main-mclaren__vehicle-types--card gran-turismo"> <p>Gran turismo</p> </a>
  </section>

  
</main>

<app-mclaren-footer></app-mclaren-footer>
