@import "../shared/styles/variables";



.main-mclaren {
  height: 1300px;
  width: 100vw;
  background-color: $divider-color;

  &__logo {
    width: 100%;
    height: 180px;
    text-align: center;

    & img {
      width: 250px;
      height: 163px;
    }
  }

  &__vehicle-types{
    width: 100vw;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    &--card{
      
      width: 250px;
      height: 150px;
      margin-block-end: 10px;
      text-align: center;
      
      border-radius: 20px;
      box-shadow: 1px 3px 15px 2px #000000;
      text-decoration: none;
      font-size: 20px;
      color: white;

      & p{
        width: 100%;
        height: 100%;
        padding-block-start: 55px;
      }
    }
  }
}

.roadster{
  background-image: url("https://phantom-marca.unidadeditorial.es/59626522f7091bdf432951ab7b51c830/resize/1320/f/jpg/assets/multimedia/imagenes/2021/04/19/16188291428147.jpg");
  
}

.muscle-car{
 background-image: url("http://www.motor.com.co/files/article_multimedia/uploads/2018/06/28/5b35389f95763.jpeg"); 
}

.altas-prestaciones{
  background-image: url("https://i.blogs.es/7d7fa7/13112019_mclaren-elva_image-02/1366_2000.jpg");
}

.superdeportivo{
  background-image: url("https://mclaren.scene7.com/is/image/mclaren/765lt-3-1200x1200-1:crop-4x3?wid=1920&hei=1440");
}

.gran-turismo{
  background-image: url("https://cdn.motor1.com/images/mgl/x0lwP/s1/mclaren-ultimate-vision-gt-scale-model.jpg");
}

.roadster, .muscle-car, .altas-prestaciones, .superdeportivo, .gran-turismo{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 900px){
  .main-mclaren{
    
    &__vehicle-types{
      

      &--card{
        font-size: 30px;
         & p{
            opacity: 0%;

            &:hover{
              
              animation-name: opacity-text;
              animation-duration: 1s;
              animation-fill-mode: forwards;
              
              
            }
          
         }

         &:hover{
          animation-name: opacity, end;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          
         
         }
      }

      
    }

  }

  @keyframes opacity{
    from {
      opacity: 100%;
    }

    to {
      opacity: 40%;
      
    }
  }
  @keyframes opacity-text{
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
      
      
    }
  }

  
}
@media screen and (min-width: 1280px){
  .main-mclaren{
    height: 700px;
    &__vehicle-types{
      height: 300px;
      flex-direction: row;
      
      
    }
  }

}
