@import "../shared/styles/variables";


.main-aston-martin{
    height: 1300px;
    width: 100vw;
    background-color: $light-primary-color;

    &__logo{
        width: 100%;
        height: 180px;
        text-align: center;

        & img{
            width: 200px;
            height: 113px;
            margin-block-start: 30px;
        }
    }

    
  &__vehicle-types{
    width: 100vw;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    &--card{
     
      width: 250px;
      height: 150px;
      margin-block-end: 10px;
      text-align: center;
      
      border-radius: 20px;
      box-shadow: 1px 3px 15px 2px #000000;
      text-decoration: none;
      font-size: 20px;
      color: white;

      & p{
        width: 100%;
        height: 100%;
        padding-block-start: 55px;
      }
    }
  }
}

.roadster{
  background-image: url("https://cdn.autobild.es/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2016/03/517445-aston-martin-db11-2016.jpg?itok=Tf_uVE6K");
  
}

.muscle-car{
 background-image: url("https://cdn.motor1.com/images/mgl/op290/s1/first-aston-martin-db5-goldfinger-continuation-car.jpg"); 
}

.altas-prestaciones{
  background-image: url("https://www.autobild.es/sites/autobild.es/public/dc/fotos/Aston_Martin-DB11_2017_C01.jpg");
}

.superdeportivo{
  background-image: url("https://i.ytimg.com/vi/RNXEnyj7Ywk/maxresdefault.jpg");
}

.gran-turismo{
  background-image: url("https://cdn.motor1.com/images/mgl/1X4x9/s1/2019-aston-martin-dbs-superleggera.jpg");
}

.roadster, .muscle-car, .altas-prestaciones, .superdeportivo, .gran-turismo{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


@media screen and (min-width: 900px){
    .main-aston-martin{
      
      &__vehicle-types{
        
  
        &--card{
          font-size: 30px;
           & p{
              opacity: 0%;
  
              &:hover{
                
                animation-name: opacity-text;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                
                
              }
            
           }
  
           &:hover{
            animation-name: opacity, end;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            
           
           }
        }
  
        
      }
  
    }
  
    @keyframes opacity{
      from {
        opacity: 100%;
      }
  
      to {
        opacity: 40%;
        
      }
    }
    @keyframes opacity-text{
      from {
        opacity: 0%;
      }
  
      to {
        opacity: 100%;
        
        
      }
    }
  
    
  }
  @media screen and (min-width: 1280px){
    .main-aston-martin{
      height: 700px;
      &__vehicle-types{
        height: 300px;
        flex-direction: row;
        
        
      }
    }
  
  }

