<app-aston-martin-header></app-aston-martin-header>



<main class="main-aston-martin">
    <section class="main-aston-martin__logo">
        <img src="../../assets/images/aston-martin-logo.png" alt="McLaren Logo">
    </section>

    <section class="main-aston-martin__vehicle-types">
        <a href="" class="main-aston-martin__vehicle-types--card roadster"> <p>Roadster</p> </a>
        <a href="" class="main-aston-martin__vehicle-types--card muscle-car"> <p>Muscle car</p> </a>
        <a href="" class="main-aston-martin__vehicle-types--card altas-prestaciones"> <p>Altas <br> Prestaciones</p> </a>
        <a href="" class="main-aston-martin__vehicle-types--card superdeportivo"> <p>Superdeportivo</p> </a>
        <a href="" class="main-aston-martin__vehicle-types--card gran-turismo"> <p>Gran turismo</p> </a>
    </section>
</main>


<app-aston-martin-footer></app-aston-martin-footer>

