<section class="fixed-header">
    <header class="header">
        <a routerLink="/home">
            <img src="../../../../assets/images/karma-white.png" alt="Karma Logo" class="header__logo">
        </a>
        
        <nav class="header__nav-mobile">
            <ul class="header__nav-mobile--ul">
                <li class="header__nav-mobile--ul-li">
                    <a href="">
                        <img src="../../../../assets/images/cart.svg" alt="cart icon">
                    </a>
                </li>
                <li class="header__nav-mobile--ul-li">
                    <a routerLink="/marcas" routerLinkActive="active">Marcas</a>
                </li>
            </ul>
        </nav>
        <nav class="header__nav">
            <ul class="header__nav-ul">
                <li class="header__nav-ul-li">
                    <a href="">
                        <img src="../../../../assets/images/cart.svg" alt="cart icon">
                    </a>
                    
                </li>
                <li class="header__nav-ul-li">
                    <a routerLink='/mclaren' routerLinkActive="active" class="linear-animation">McLaren</a>
                </li>
                <li class="header__nav-ul-li">
                    <a routerLink="/ferrari" class="linear-animation" routerLinkActive="active">Ferrari</a>
                </li>
                <li class="header__nav-ul-li">
                    <a routerLink="/lamborghini" class="linear-animation" routerLinkActive="active">Lamborghini</a>
                </li>
                <li class="header__nav-ul-li">
                    <a routerLink="/bugatti" class="linear-animation" routerLinkActive="active">Bugatti</a>
                </li>
                <li class="header__nav-ul-li">
                    <a routerLink="/aston-martin" class="linear-animation" routerLinkActive="active">Aston Martin</a>
                </li>
                <li class="header__nav-ul-li">
                    <a routerLink="/mercedez-benz" class="linear-animation" routerLinkActive="active">Mercedez</a>
                </li>
            </ul>
        </nav>
    </header>
</section>



<main class="main-ferrari">
    <section class="main-ferrari__logo">
        <img src="../../assets/images/ferrari.logo.png" alt="McLaren Logo">
    </section>

    <section class="main-ferrari__vehicle-types">
        <a href="" class="main-ferrari__vehicle-types--card roadster"> <p>Roadster</p> </a>
        <a href="" class="main-ferrari__vehicle-types--card muscle-car"> <p>Muscle car</p> </a>
        <a href="" class="main-ferrari__vehicle-types--card altas-prestaciones"> <p>Altas <br> Prestaciones</p> </a>
        <a href="" class="main-ferrari__vehicle-types--card superdeportivo"> <p>Superdeportivo</p> </a>
        <a href="" class="main-ferrari__vehicle-types--card gran-turismo"> <p>Gran turismo</p> </a>
    </section>
</main>


<footer class="footer">
    <section class="footer__butifarra">
        <img src="./../../../../assets/images/butifarra-logo.png" alt="butifarra logo" class="footer__butifarra-logo">
    </section>
    <section class="footer__contact">
        <p class="footer__contact-contacto">Contacto:</p>
        <p class="footer__contact-butifarra">butifarra@butifarra.buti</p>
    </section>
    <div>
        <p class="footer__siguenos">Siguenos:</p>
        <section class="footer__socialmedia">
            <a href="#" >
                <img src="../../../../assets/images/facebook.svg" alt="Facebook icon" class="footer__socialmedia-icons">
            </a>
            <a href="#" >
                <img src="../../../../assets/images/gorjeo.svg" alt="twitter icon" class="footer__socialmedia-icons">
            </a>
            <a href="#" >
                <img src="../../../../assets/images/instagram.svg" alt="instagram icon" class="footer__socialmedia-icons">
            </a>
            
            
            
        </section>
    </div>
   

    <p class="footer__credits">@2021 por Butifarra Software. <br>Todos los derechos reservados</p>
</footer>
