<app-ferrari-header></app-ferrari-header>



<main class="main-ferrari">
    <section class="main-ferrari__logo">
        <img src="../../assets/images/ferrari.logo.png" alt="McLaren Logo">
    </section>

    <section class="main-ferrari__vehicle-types">
        <a href="ferrari/roadster" class="main-ferrari__vehicle-types--card roadster"> <p>Roadster</p> </a>
        <a href="ferrari/muscle-car" class="main-ferrari__vehicle-types--card muscle-car"> <p>Muscle car</p> </a>
        <a href="ferrari/altas-prestaciones" class="main-ferrari__vehicle-types--card altas-prestaciones"> <p>Altas <br> Prestaciones</p> </a>
        <a href="ferrari/superdeportivo" class="main-ferrari__vehicle-types--card superdeportivo"> <p>Superdeportivo</p> </a>
        <a href="ferrari/gran-turismo" class="main-ferrari__vehicle-types--card gran-turismo"> <p>Gran turismo</p> </a>
    </section>
</main>

<app-ferrari-footer></app-ferrari-footer>


