

<app-merdecez-header></app-merdecez-header>

<main class="main-mercedez">
    <section class="main-mercedez__logo">
        <img src="../../assets/images/mercedez-benz-logo.png" alt="McLaren Logo">
    </section>

    <section class="main-mercedez__vehicle-types">
        <a href="mercedez-benz/roadster" class="main-mercedez__vehicle-types--card roadster"> <p>Roadster</p> </a>
        <a href="mercedez-benz/muscle-car" class="main-mercedez__vehicle-types--card muscle-car"> <p>Muscle car</p> </a>
        <a href="mercedez-benz/altas-prestaciones" class="main-mercedez__vehicle-types--card altas-prestaciones"> <p>Altas <br> Prestaciones</p> </a>
        <a href="mercedez-benz/superdeportivo" class="main-mercedez__vehicle-types--card superdeportivo"> <p>Superdeportivo</p> </a>
        <a href="mercedez-benz/gran-turismo" class="main-mercedez__vehicle-types--card gran-turismo"> <p>Gran turismo</p> </a>
    </section>
</main>

<app-merdecez-footer></app-merdecez-footer>





