@import "../../../shared/styles/variables";
@import "../../../shared/styles/vehicle";

.main{
    padding-block-end: 60px;
    background-color: $light-primary-color;
    text-align: center;
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block-start: 20px;

        & img{
            width: 200px;
            height: 113px;
           
        }

        & h2{
            height: 100%;
            margin-block-start: 40px;
            font-size: 20px;
            color: $primary-text;
        }
    }
}

@media screen and (min-width: 859px){
    .main{

        &__title{
            flex-direction: row;
            justify-content: center;

            & img{
                margin-inline-end: 30px;
            }

            & h2{
                margin-block-start: 40px;
                font-size: 28px;
            }
        }
    }
}