<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()" id="myform">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Reporte por Tipo Vehiculo y periodo de tiempo</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Tipo de Vehiculo" formControlName="states">
                <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                  {{ state.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addressForm.controls['states'].hasError('required')">
                El tipo de vehiculo es <strong>obligatorio!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Ingresa la fecha inicial del reporte" formControlName="first_date" type="date">
              <mat-error *ngIf="addressForm.controls['first_date'].hasError('required')">
                La fecha inicial es <strong>obligatoria!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Ingresa la fecha final del reporte" formControlName="last_date" type="date">
              <mat-error *ngIf="addressForm.controls['last_date'].hasError('required')">
                La fecha final es <strong>obligatoria!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-card-actions>
            <button mat-raised-button style="background-color: darkgreen; color: white;" type="submit">Generar Reporte</button>
            
        </mat-card-actions>
        
       
        
      </mat-card-content>
      
    </mat-card>

    <table mat-table [dataSource]="reports" class="mat-elevation-z8 vehicle-table">
        
        <ng-container matColumnDef="id_invoice_det">
            <th mat-header-cell *matHeaderCellDef class="title"> ID Detalle Factura </th>
            <td mat-cell *matCellDef="let report"> {{report.id_invoice_det}} </td>
        </ng-container>
        <ng-container matColumnDef="id_invoice">
            <th mat-header-cell *matHeaderCellDef class="title"> ID Factura </th>
            <td mat-cell *matCellDef="let report" class="color"> {{report.id_invoice}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef class="title"> Precio </th>
            <td mat-cell *matCellDef="let report"> {{report.price | currency}} </td>
        </ng-container>
        <ng-container matColumnDef="id_vehicle_detail">
            <th mat-header-cell *matHeaderCellDef class="title"> ID Detalle de Vehiculo </th>
            <td mat-cell *matCellDef="let report" class="description"> {{report.id_vehicle_detail}} </td>
        </ng-container>
        <ng-container matColumnDef="date" >
            <th mat-header-cell *matHeaderCellDef class="title"> Fecha </th>
            <td mat-cell *matCellDef="let report" class="url"> {{report.date}} </td>
        </ng-container>
        
        <ng-container matColumnDef="vehicle">
            <th mat-header-cell *matHeaderCellDef class="title"> Vehiculo </th>
            <td mat-cell *matCellDef="let report"> {{report.vehicle}} </td>
        </ng-container>
        <ng-container matColumnDef="vehicle_model">
            <th mat-header-cell *matHeaderCellDef class="title"> Modelo del Vehiculo </th>
            <td mat-cell *matCellDef="let report"> {{report.vehicle_model}} </td>
        </ng-container>
        <ng-container matColumnDef="body_type">
            <th mat-header-cell *matHeaderCellDef class="title"> Tipo de Vehiculo </th>
            <td mat-cell *matCellDef="let report"> {{report.body_type}} </td>
        </ng-container>
       
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </form>

