$dark-primary-color: #455A64;
$light-primary-color: #CFD8DC;
$primary-color: #607D8B;
$text-icons: #FFFFFF;
$accent-color: #FF5252;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$mclaren-color: #5B5F64;
$ferrari-color: #AF031D;
$lamborghini-color: #1C1D1F;
$bugatti-color: #BE0030;
$aston-martin-color: #318861;

