<footer class="footer">
    <section class="footer__butifarra">
        <img src="./../../../../assets/images/butifarra-logo.svg" alt="butifarra logo" class="footer__butifarra-logo">
    </section>
    <section class="footer__contact">
        <p class="footer__contact-contacto">Contacto:</p>
        <p class="footer__contact-butifarra">butifarra@butifarra.buti</p>
    </section>
    <p class="footer__siguenos">Siguenos:</p>
    <section class="footer__socialmedia">
        <a href="#" >
            <img src="../../../../assets/images/facebook.svg" alt="Facebook icon" class="footer__socialmedia-icons">
        </a>
        <a href="#" >
            <img src="../../../../assets/images/gorjeo.svg" alt="twitter icon" class="footer__socialmedia-icons">
        </a>
        <a href="#" >
            <img src="../../../../assets/images/instagram.svg" alt="instagram icon" class="footer__socialmedia-icons">
        </a>
        
        
        
    </section>

    <p class="footer__credits">@2021 por Butifarra Software. <br>Todos los derechos reservados</p>
</footer>
