
<app-lamborghini-header></app-lamborghini-header>

<main class="main-lamborghini">
    <section class="main-lamborghini__logo">
        <img src="../../assets/images/lamborghini-logo.png" alt="McLaren Logo">
    </section>

    <section class="main-lamborghini__vehicle-types">
        <a href="lamborghini/roadster" class="main-lamborghini__vehicle-types--card roadster"> <p>Roadster</p> </a>
        <a href="lamborghini/muscle-car" class="main-lamborghini__vehicle-types--card muscle-car"> <p>Muscle car</p> </a>
        <a href="lamborghini/altas-prestaciones" class="main-lamborghini__vehicle-types--card altas-prestaciones"> <p>Altas <br> Prestaciones</p> </a>
        <a href="lamborghini/superdeportivo" class="main-lamborghini__vehicle-types--card superdeportivo"> <p>Superdeportivo</p> </a>
        <a href="lamborghini/gran-turismo" class="main-lamborghini__vehicle-types--card gran-turismo"> <p>Gran turismo</p> </a>
    </section>
</main>

<app-lamborghini-footer></app-lamborghini-footer>

