@import "../shared/styles/variables";



.main-lamborghini{
    height: 1300px;
    width: 100vw;
    background-color: $secondary-text;

    &__logo{
        width: 100%;
        height: 180px;
        text-align: center;

        & img{
            width: 110px;
            height: 110px;
            margin-block-start: 20px;
            
        }
    }

    &__vehicle-types{
        width: 100vw;
        height: 1000px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    
        &--card{
          background-color: black;
          width: 250px;
          height: 150px;
          margin-block-end: 10px;
          text-align: center;
          
          border-radius: 20px;
          box-shadow: 1px 3px 15px 2px #000000;
          text-decoration: none;
          font-size: 20px;
          color: white;
    
          & p{
            width: 100%;
            height: 100%;
            padding-block-start: 55px;
          }
        }
      }
}


@media screen and (min-width: 900px){
    .main-lamborghini{
      
      &__vehicle-types{
        
  
        &--card{
          
           & p{
              opacity: 0%;
  
              &:hover{
                
                animation-name: opacity-text;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                
                
              }
            
           }
  
           &:hover{
            animation-name: opacity, end;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            
           
           }
        }
  
        
      }
  
    }
  
    @keyframes opacity{
      from {
        opacity: 100%;
      }
  
      to {
        opacity: 60%;
        
      }
    }
    @keyframes opacity-text{
      from {
        opacity: 0%;
      }
  
      to {
        opacity: 100%;
        
        
      }
    }
  
    
  }
  @media screen and (min-width: 1280px){
    .main-lamborghini{
      height: 700px;
      &__vehicle-types{
        height: 300px;
        flex-direction: row;
        
        
      }
    }
  
  }
