/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { box-sizing: border-box; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden;
    background-color: whitesmoke}

body::-webkit-scrollbar{
    width: 12px;
    background-color: gray;
    
}

body::-webkit-scrollbar-thumb{
    background-color: darkgray;
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(192, 192, 192);
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
