<table mat-table [dataSource]="vehicles" class="mat-elevation-z8 vehicle-table">
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="title"> Acciones </th>
        <td mat-cell *matCellDef="let vehicle"> 
            <a [routerLink]="['edit', vehicle.id_vehicle]" mat-raised-button style="background-color: gray; color: white;">Editar</a>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="id_vehicle">
        <th mat-header-cell *matHeaderCellDef class="title"> ID </th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.id_vehicle}} </td>
    </ng-container>
    <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef class="title"> Color </th>
        <td mat-cell *matCellDef="let vehicle" class="color"> {{vehicle.color}} </td>
    </ng-container>
    <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef class="title"> Marca </th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.brand}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="title"> Descripción </th>
        <td mat-cell *matCellDef="let vehicle" class="description"> {{vehicle.description}} </td>
    </ng-container>
    <ng-container matColumnDef="url" >
        <th mat-header-cell *matHeaderCellDef class="title"> Imagen </th>
        <td mat-cell *matCellDef="let vehicle" class="url"> {{vehicle.url}} </td>
    </ng-container>
    <ng-container matColumnDef="body_type">
        <th mat-header-cell *matHeaderCellDef class="title"> Tipo Vehiculo </th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.body_type}} </td>
    </ng-container>
    
   
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
