<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()" id="myform">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Buscar Tipo Vehiculo</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Ingresa el ID del tipo vehiculo a editar" formControlName="id_vehicle_type">
              <mat-error *ngIf="addressForm.controls['id_vehicle_type'].hasError('required')">
                El ID es <strong>obligatorio!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-card-actions>
            <button mat-raised-button style="background-color: darkgreen; color: white;" type="submit">Buscar Tipo Vehiculo</button>
            
        </mat-card-actions>

        <mat-card-header>
            <mat-card-title>Editar Tipo Vehiculo</mat-card-title>
          </mat-card-header>
        
        <mat-card-content>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Tipo Vehiculo" formControlName="body_type">
                  <mat-error *ngIf="addressForm.controls['body_type'].hasError('required')">
                    El Tipo de Vehiculo es <strong>obligatorio!</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Descripcion" formControlName="description">
                  <mat-error *ngIf="addressForm.controls['description'].hasError('required')">
                    La descripcion es <strong>obligatoria</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              
            </div>
            
          </mat-card-content>
        
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button style="background-color: darkgreen; color: white;" (click)="updateVehicleType()">Editar Vehiculo</button>
       
      
     </mat-card-actions>
      
    </mat-card>
  </form>

